@import "./_variables.scss";
@import "./_placeholders.scss";

//test mixin
@mixin square($size, $radius: 0) {
  width: $size;
  height: $size;
  background-color: $primary-color;

  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin backDropFilter($size: 2px) {
  backdrop-filter: blur($size);
  -webkit-backdrop-filter: blur($size);
}
