@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ravi+Prakash&display=swap");

$primary-color: rgba(242, 235, 197, 1);
$primary-color-50: #b1ad7f;
$secondary-color: rgba(97, 97, 97, 1);
$black-color: black;

$text-color: rgba(185, 186, 188, 1);
$text-primary-color: rgba(246, 241, 172, 1);
$text-hoover-primary-color: rgba(246, 241, 172, 0.68);
$text-color-overlay: rgb(65, 205, 236);

$border-color: rgba(157, 157, 157, 1);

$background-color: #292929;
$background-primary: black;

$font-1: "Roboto", sans-serif;
$font-2: "Ravi Prakash", cursive;
