@import "./_variables.scss";
@import "./_mixins.scss";
@import "./_placeholders.scss";
@import "./_buttons.scss";

.dropdown-options-container {
  background-color: $black-color;
  width: 100%;

  .dropdown-option {
    border-radius: 0px;
    border: 1px solid $black-color;
    width: 100%;
    font-size: 16px;
    padding-right: 16px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      background-color: $background-color;
      color: $primary-color;
    }

    &:first-child {
      border-radius: 4px 4px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 4px 4px;
    }
  }
}
