@import "./styles/_variables.scss";
@import "./styles/_mixins.scss";
@import "./styles/_placeholders.scss";
@import "./styles/_buttons.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-1;
}

body {
  background-color: black;
  color: $text-color;

  &::-webkit-scrollbar {
    display: none;
  }
}
